<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated AppliedMutations -->
      <package
            uri="http://appliedMutations/1.0"
            class="appliedMutations.AppliedMutationsPackage"
            genModel="models/AppliedMutations.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MutatorEnvironment -->
      <package
            uri="http://mutatorenvironment/1.0"
            class="mutatorenvironment.MutatorenvironmentPackage"
            genModel="models/MutatorEnvironment.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MutatorConfiguration -->
      <package
            uri="http://mutatext/1.0"
            class="mutatext.MutatextPackage"
            genModel="models/MutaText.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MutatorTests -->
      <package
            uri="http://edutest/1.0"
            class="edutest.EdutestPackage"
            genModel="models/EduTest.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MutatorGraph -->
      <package
            uri="http://modelgraph/1.0"
            class="modelgraph.ModelgraphPackage"
            genModel="models/ModelGraph.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IdentifyElements -->
      <package
            uri="http://modeltext/1.0"
            class="modeltext.IdentifyelementsPackage"
            genModel="models/ModelText.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MutaText -->
      <package
            uri="http://mutatext/1.0"
            class="mutatext.MutatextPackage"
            genModel="models/MutaText.genmodel"/>
   </extension>

</plugin>
