<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="sampleBuilder"
         name="Sample Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="builder.SampleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="sampleNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="builder.SampleNature">
         </run>
      </runtime>
      <builder
            id="wodel.project.examples.sampleBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Project Nature commands"
            id="wodel.project.examples.sampleNature.category">
      </category>
      <command
            name="Add/RemoveSample Project Nature"
            defaultHandler="builder.AddRemoveSampleNatureHandler"
            categoryId="wodel.project.examples.sampleNature.category"
            id="wodel.project.examples.addRemoveSampleNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="wodel.project.examples.addRemoveSampleNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="wodel.project.examples.sampleNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="wodel.project.examples.addRemoveSampleNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="wodel.project.examples.sampleNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wizards.AutomataWizard"
            icon="icons/wodel4.jpg"
            id="mutatorproject.examples.WodelAutomata"
            name="Finite Automata"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wizards.AutomataWizard2"
            icon="icons/wodel4.jpg"
            id="mutatorproject.examples.WodelAutomata2"
            name="Finite Automata (2)"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wizards.SecurityPoliciesWizard"
            icon="icons/wodel4.jpg"
            id="mutatorproject.examples.WodelSecurityPolicies"
            name="Security Policies"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wizards.PFSMWizard"
            icon="icons/wodel4.jpg"
            id="mutatorproject.examples.WodelPFSM"
            name="Probabilistic Automata"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wizards.UMLClassDiagramsWizard"
            icon="icons/wodel4.jpg"
            id="mutatorproject.examples.UMLClassDiagramsWizard"
            name="UML Class Diagrams"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wizards.AspleWizard"
            icon="icons/wodel4.jpg"
            id="mutatorproject.examples.WodelASPLE"
            name="ASPLE Language"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wizards.BPELWizard"
            icon="icons/wodel4.jpg"
            id="mutatorproject.examples.WodelBPEL"
            name="BPEL"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelExamples"
            name="Examples"
            parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodel.project.WodelExamples"
            class="wizards.WodelEduAutomataWizard"
            icon="icons/wodel4.jpg"
            id="mutatorproject.examples.WodelEduAutomataWizard"
            name="Wodel-Edu Finite Automata"
            project="true">
      </wizard>
   </extension>
</plugin>
