<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="wodeltest.extension.MutTesting">
		<wodeltest
			class="mutator.wodeltest.testFA.WodelTest">
		</wodeltest>
	</extension>
	<extension
	id="wodeltest.extension.wodelTestSUTNature"
	name="Wodel-Test SUT Project Nature"
	point="org.eclipse.core.resources.natures">
	<runtime>
	<run
	class="mutator.wodeltest.testFA.builder.WodelTestSUTNature">
	</run>
	</runtime>
	<builder
	id="wodeltest.extension.wodelTestSUTBuilder">
	</builder>
	</extension>
	<extension
	id="wodeltest.extension.wodelTestSUTBuilder"
	name="Wodel-Test SUT Project Builder"
	point="org.eclipse.core.resources.builders">
	<builder
	hasNature="true">
	<run
	class="mutator.wodeltest.testFA.builder.WodelTestSUTBuilder">
	</run>
	</builder>
	</extension>
	<extension
	point="org.eclipse.ui.commands">
	<category
	name="Wodel-Test SUT Project Nature commands"
	id="wodeltest.extension.wodelTestSUTNature.category">
	</category>
	<command
	name="Add/Remove Wodel-Test SUT Project Nature"
	defaultHandler="mutator.wodeltest.testFA.builder.AddRemoveWodelTestSUTNatureHandler"
	categoryId="wodeltest.extension.wodelTestSUTNature.category"
	id="wodeltest.extension.addRemoveWodelTestSUTNature">
	</command>
	</extension>
	<extension
	point="org.eclipse.ui.menus">
	<menuContribution
	locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
	<command
	commandId="wodeltest.extension.addRemoveWodelTestSUTNature"
	icon="icons/wodel4.jpg"
	label="Disable Wodel-Test SUT Nature"
	style="push">
	<visibleWhen
	checkEnabled="false">
	<with
	variable="selection">
	<count
	value="1">
	</count>
	<iterate>
	<adapt
	type="org.eclipse.core.resources.IProject">
	<test
	value="wodeltest.extension.wodelTestSUTNature"
	property="org.eclipse.core.resources.projectNature">
	</test>
	</adapt>
	</iterate>
	</with>
	</visibleWhen>
	</command>
	<command
	commandId="wodeltest.extension.addRemoveWodelTestSUTNature"
	icon="icons/wodel4.jpg"
	label="Enable Wodel-Test SUT Nature"
	style="push">
	<visibleWhen
	checkEnabled="false">
	<with
	variable="selection">
	<count
	value="1">
	</count>
	<iterate>
	<adapt
	type="org.eclipse.core.resources.IProject">
	<not>
	<test
	value="wodeltest.extension.wodelTestSUTNature"
	property="org.eclipse.core.resources.projectNature">
	</test>
	</not>
	</adapt>
	</iterate>
	</with>
	</visibleWhen>
	</command>
	</menuContribution>
	</extension>
	<extension
	id="xmlProblem"
	name="XML Problem"
	point="org.eclipse.core.resources.markers">
	<super
	type="org.eclipse.core.resources.problemmarker">
	</super>
	<persistent
	value="true">
	</persistent>
	</extension>
	<extension
	point="org.eclipse.ui.newWizards">
	<category
	id="wodeltest.extension.WodelTestProject"
	name="Wodel-Test">
	</category>

	<wizard
	category="wodeltest.extension.WodelTestProject"
	class="mutator.wodeltest.testFA.wizards.FASuTAndTestSuiteWizard"
	icon="icons/wodel4.jpg"
	id="mutator.wodeltest.testFA.WodelTest4FA"
	name="Wodel-Test for FA example"
	project="true">
	</wizard>
	</extension>
</plugin>
