<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="builder.wodelTestProjectBuilder"
         name="Wodel Test Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="builder.WodelTestProjectBuilder">
         </run>
      </builder>
   </extension>
	<extension
     id="builder.wodelTestProjectNature"
     point="org.eclipse.core.resources.natures">
  <runtime>
     <run
           class="builder.WodelTestProjectNature">
     </run>
  </runtime>
  </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="commands.LoadRunWodelTestHandler"
            id="testProject.commands.wodelTestCommandLoad"
            name="Load Projects and Run Wodel-Test">
      </command>
      <command
      		defaultHandler="commands.RunWodelTestHandler"
            id="testProject.commands.wodelTestCommandRun"
            name="Run Wodel-Test">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodel4.jpg"
               id="WodelTest.menu1"
               label="Wodel-Test...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="testProject.commands.wodelTestCommandLoad"
                  icon="icons/wodel4.jpg"
                  label="Load Projects and Run Wodel-Test"
                  style="push">
            </command>
            <command
                  commandId="testProject.commands.wodelTestCommandRun"
                  icon="icons/wodel4.jpg"
                  label="Run Wodel-Test"
                  style="push">
               <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
                        <adapt type="org.eclipse.core.resources.IResource">
                        	<test
                        		property="org.eclipse.core.resources.projectNature"
                        		value="builder.wodelTestProjectNature">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="wodeltest.views"
            name="Wodel-Test">
      </category>
      <view
            name="Wodel-Test global graphical results"
            icon="icons/wodel4.jpg"
            category="wodeltest.views"
            class="test.views.WodelTestGlobalGraphicalResultsViewPart"
            id="test.views.WodelTestGlobalGraphicalResultsViewPart">
      </view>
      <view
            name="Wodel-Test mutant results"
            icon="icons/wodel4.jpg"
            category="wodeltest.views"
            class="test.views.WodelTestClassResultsViewPart"
            id="test.views.WodelTestClassResultsViewPart">
      </view>
      <view
            name="Wodel-Test test results"
            icon="icons/wodel4.jpg"
            category="wodeltest.views"
            class="test.views.WodelTestResultsTestViewPart"
            id="test.views.WodelTestResultsTestViewPart">
      </view>
      <view
            name="Wodel-Test mutation operator results"
            icon="icons/wodel4.jpg"
            category="wodeltest.views"
            class="test.views.WodelTestMutatorResultsViewPart"
            id="test.views.WodelTestMutatorResultsViewPart">
      </view>
   </extension>
   <extension
	  point="org.eclipse.ui.preferencePages">
      <page
           class="preference.WodelTestPreferencePage"
           id="WodelTest"
           name="Wodel-Test">
           <keywordReference id="wodel.dsls.ui.keyword_Wodel"/>
      </page>
   </extension>
</plugin>
