<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="wodel.project.sampleBuilder"
         name="Sample Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="wodel.project.builder.SampleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="wodel.project.sampleNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="wodel.project.builder.SampleNature">
         </run>
      </runtime>
      <builder
            id="wodel.project.sampleBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="wodel.project.builder.sampleNature.category"
            name="Sample Project Nature commands">
      </category>
      <command
            categoryId="wodel.project.builder.sampleNature.category"
            defaultHandler="wodel.project.builder.AddRemoveSampleNatureHandler"
            id="wodel.project.builder.addRemoveSampleNature"
            name="Add/RemoveSample Project Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="wodel.project.builder.addRemoveSampleNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="wodel.project.sampleNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="wodel.project.builder.addRemoveSampleNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="wodel.project.sampleNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wodel.project.WodelProject"
            name="Wodel">
      </category>
      <wizard
            category="wodel.project.WodelProject"
            class="wodel.project.wizards.WodelWizard"
            icon="icons/wodel4.jpg"
            id="wodel.project.wizards.WodelWizard"
            name="New Wodel Project"
            project="true">
      </wizard>
   </extension>
</plugin>
