<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="runwodel.popup.actions.RunWodel"
            id="wodelRunWodel"
            name="Execute Mutations">
      </command>
   </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="runwodel.popup.actions.GenerateWodelMutantsWizard"
            id="wodelCreateWodelMutantsWizard"
            name="Mutant creation wizard...">
      </command>
   </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="runwodel.popup.actions.CleanUpWodelOutputFolder"
            id="wodelCleanUpOutputFolder"
            name="Wodel output folder clean-up">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodel4.jpg"
               id="Wodel.menu1"
               label="Wodel...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodelRunWodel"
                  icon="icons/wodel4.jpg"
                  label="Execute Mutations"
                  style="push">
            <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
 						<adapt type="org.eclipse.core.resources.IResource">
                        	<test
                               property="org.eclipse.core.resources.projectNature"
                               value="wodel.project.sampleNature">
    						</test>
    						<test
                               property="org.eclipse.core.resources.name"
                               value="*.mutator">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodel4.jpg"
               id="Wodel.menu1"
               label="Wodel...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodelCreateWodelMutantsWizard"
                  icon="icons/wodel4.jpg"
                  label="Mutants creation wizard"
                  style="push">
            <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
 						<adapt type="org.eclipse.core.resources.IResource">
                        	<test
                               property="org.eclipse.core.resources.projectNature"
                               value="wodel.project.sampleNature">
    						</test>
    						<test
                               property="org.eclipse.core.resources.name"
                               value="*.mutator">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/wodel4.jpg"
               id="Wodel.menu1"
               label="Wodel...">
            <separator
                  name="group1">
            </separator>
            <command
                  commandId="wodelCleanUpOutputFolder"
                  icon="icons/wodel4.jpg"
                  label="Wodel clean-up output folder"
                  style="push">
            <visibleWhen
               	  checkEnabled="false">
                  <with
                  	 variable="activeMenuSelection">
                     <iterate>
 						<adapt type="org.eclipse.core.resources.IResource">
                        	<test
                               property="org.eclipse.core.resources.projectNature"
                               value="wodel.project.sampleNature">
    						</test>
    						<test
                               property="org.eclipse.core.resources.name"
                               value="*.mutator">
    						</test>
 						</adapt>
                     </iterate>
                     <count value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
