<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.mutator"
            id="RunWodel.contribution1">
         <menu
               icon="icons/wodel4.jpg"
               id="RunWodel.menu1"
               label="Wodel..."
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Execute mutations"
               class="runwodel.popup.actions.RunWodel"
               menubarPath="RunWodel.menu1/group1"
               enablesFor="1"
               id="RunWodel.newAction1">
         </action>
      </objectContribution>
   </extension>

</plugin>
