<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <category
         id="wodeltest.extension.WodelTestExamples"
         name="Examples for Wodel-Test"
         parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodeltest.extension.WodelTestExamples"
            class="wodeltest.extension.examples.wizards.WodelTest4JavaWizard"
            icon="icons/wodel4.jpg"
            id="wodeltest.extension.examples.WodelTest4Java"
            name="Java"
            project="true">
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <category
         id="wodeltest.extension.WodelTestExamples"
         name="Examples for Wodel-Test"
         parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodeltest.extension.WodelTestExamples"
            class="wodeltest.extension.examples.wizards.WodelTest4ATLWizard"
            icon="icons/wodel4.jpg"
            id="wodeltest.extension.examples.WodelTest4ATL"
            name="ATL"
            project="true">
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <category
         id="wodeltest.extension.WodelTestExamples"
         name="Examples for Wodel-Test"
         parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodeltest.extension.WodelTestExamples"
            class="wodeltest.extension.examples.wizards.WodelTest4FAWizard"
            icon="icons/wodel4.jpg"
            id="wodeltest.extension.examples.WodelTest4FA"
            name="FA"
            project="true">
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <category
         id="wodeltest.extension.WodelTestExamples"
         name="Examples for Wodel-Test"
         parentCategory="wodel.project.WodelProject">
      </category>
      <wizard
            category="wodel.project.WodelProject/wodeltest.extension.WodelTestExamples"
            class="wodeltest.extension.examples.wizards.WodelTest4CongaWizard"
            icon="icons/wodel4.jpg"
            id="wodeltest.extension.examples.WodelTest4Conga"
            name="Conga"
            project="true">
      </wizard>
   </extension>
</plugin>
